.community-container {
  padding: 50px 0;
}

h1 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #ffffff;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #1abc9c;
}

.card-body {
  position: relative;
}

.card-title {
  font-weight: bold;
}

.btn-outline-light {
  border: 2px solid #1abc9c;
  color: #1abc9c;
}

.btn-outline-light:hover {
  background-color: #1abc9c;
  color: white;
}