.marketplace-container {
    padding: 20px;
  }
  
  .btn-add-to-cart {
    background-color: #ffc107;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 0 10px;
  }
  
  .btn-add-to-cart:hover {
    background-color: #e0a800;
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .card-body {
    text-align: center;
  }
  
  .text-muted {
    font-size: 0.9rem;
    margin-top: 10px;
  }
  